.gt-modal-dialog {
    min-width: 400px;
}

.gt-scroll-view {
    height: 500px;
    width: 360px;
}

.gt-search-box {}

.gt-action-box {
    padding: 0px;
    margin: 0px;
}

.gt-action-btn {}

.gt-action-box-layout {}

.gt-trash-item {}