.gnome-trash .modal-dialog {
    min-width: 400px;
}

.gnome-trash .scroll-view {
    height: 500px;
    width: 360px;
}

.gnome-trash .action-box {
    padding: 0px;
    margin: 0px;
}

.gnome-trash .action-bar-btn {
    margin: 0px;
    padding: 6px 12px 6px 12px;
}
